body {
	font-family: "arial";
	margin: 50px;
	background-color: rgb(118, 187, 175);
}

p {
	font-size: large;
	text-align: center;
	padding: 20px;
}

#navigation{
	padding: 50px;
	background: #ffffff80;
	border-radius:10px;
}
